body { background-color: #fff; color: #333; margin:0px; padding:20px;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#search_bar{
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #D9D9D9;
  display: block;
  padding: 5px 5px 4px;
  width: 420px;
  margin: auto;

}

#search_bar input#search{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  line-height: 12px;
}

img#logo{ float: right;}

img#header{ float: left;}

#container{
  padding:12px;
  margin:0 30px;
  clear:both;
  display:block;
  min-height:400px;
  width:960px;
  margin:1em auto;
  position:relative;
}

#certificates_data{
  display: block;
  margin: 30px auto auto;
  width: 100%;
}

.certificate_data div{
  clear:both;
}

.data_confirmation{
  float:left;
}

.email_field{
  float: left;
  margin-left: 30px;
}

.course_list{
  clear: both;
  float: left;
  list-style: none outside none;
  margin-top: 15px;
}

#ListBoxAllItems{
  height: 400px !important;
  overflow: auto;
}

#ListBoxAllItems, #ListBoxSelectedItems, #ListBoxCorrectItem{
  list-style: none outside none;
}

#tdAllItems, #tdSelectedItems, #tdCorrectItem{
  padding: 10px;
}

#tdSelectedItems{
  position: fixed !important;
  margin-left: 20px;
  background-color: #FFFA7C;
}

#tdCorrectItem{
  position: fixed !important;
  margin-left: 300px;
  background-color: #9FF19F;
}

#update_names{
    margin-left: 13px;
    position: relative;
}

.activity_participants{
  float: left;
}

.participants_list{
  float: left;
  height: 550px;
  margin: 0 auto;
  overflow: auto;
}