<% form_for(@course) do |f| %>
  <%= render "shared/error_messages", :target => @course %>  
  <p>
    <%= f.label :identifier %>
    <%= f.text_field :identifier %>
  </p>

  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
