<h1>Frequência dos Participantes</h1>

<table>
  <tr>
    <th>Participante</th>
    <th>Frequência</th>
    <th>Aprovado?</th>
  </tr>
<% @participants.each do |info| %>
  <tr>
    <td><%=h info[0].name %></td>
    <td><%=h participant_frequency(info[1], @course_total_time) %></td>
    <td><%= approved(info[1], @course_total_time)  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Voltar', courses_path %>

