<h1>Frequência dos Participantes</h1>

<table>
  <tr>
    <th>Participante</th>
    <th>Frequência</th>
    <th>Aprovado?</th>
  </tr>

<% @participants[:participants].each do |info| %>
  <tr>
    <td><%=h info[1][:participant].name %></td>
    <td><%=h ((info[1][:time]/@participants[:total_time])*100).floor %></td>
    <td><%= (info[1][:time]/@participants[:total_time])*100 > 75 ? "Sim":"Não"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Voltar', courses_path %>
