<p>
<% if @to_support == "true"%>
  Em breve, iremos entrar em contato por e-mail.
<% else %>
  Um e-mail com o certificado foi enviado para o e-mail informado.
<% end %>
</p>
<br>
<%= link_to t('back'), certificates_path%>

