<p>
<% if @to_support %>
  Em breve, iremos entrar em contato por e-mail.
<% else %>
  O e-mail com o certificado foi enviada para o e-mail informado.
<% end %>
</p>
<br>
<%= link_to t('back'), certificates_path%>

