 <tr>
   <td>
     <%= pf.text_field :name %>
   </td>
   <td>
     <%= pf.text_field :group %>
   </td>
   <td>
     <%= pf.text_field :unit %>
   </td>
   <td>
     <%= pf.text_field :contact %>
   </td>
 </tr>
